.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -15px;
    right: 20px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    }
    body.sticky-footer {
        margin-bottom: 56px;
    }
    
    /* body .content-wrapper {
        min-height: calc(100vh - 70px - 56px);
    } */
    footer.sticky-footer {
        position: fixed;
        /* position: absolute; */
        right: 0;
        bottom: 0;
        width: 100%;
        height: 56px;
        background-color: #e9ecef;
        line-height: 55px;
    }
    
    @media (min-width: 992px) {
        footer.sticky-footer {
        /* width: calc(100% - 250px); */
        width: calc(100% );
        }
    }
    
    /* .scroll-to-top {
        position: fixed;
        right: 15px;
        bottom: 3px;
        display: none;
        width: 50px;
        height: 50px;
        text-align: center;
        color: white;
        background: rgba(52, 58, 64, 0.5);
        line-height: 45px;
    }
    
    .scroll-to-top:focus, .scroll-to-top:hover {
        color: white;
    }
    
    .scroll-to-top:hover {
        background: #343a40;
    }
    
    .scroll-to-top i {
        font-weight: 800;
    } */